body{
	background: url("startup.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
    height: 300px;	
}


div{
    
    text-align: center;
}

h1{
	color: #1dce7b;
	align-items: center;
	text-shadow: -1px 5px 5px red,
	             -1px 5px 5px purple;
	font-family: 'Metal Mania', cursive;             

}
#header{
	margin-top: 310px;
}

#horizontalline{
	
    width: 20%;
	border: 2px solid #0064ff;
	border-radius: 45%;
}

.btn{
	margin-top: 160px;
	margin-left: 10px;
	 

}

